<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>title</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.0/css/bootstrap.css"/>
<script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.0/js/bootstrap.js"></script>
<!--jy-->
<script type="text/javascript" src="__PUBLIC__/Jloading2/Jloading2.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Jloading2/Jloading2.min.css"/>
<script type="text/javascript" src="__PUBLIC__/Jmessage/Jmessage.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Jmessage/Jmessage.min.css"/>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/bootstrap-3.3.0/js/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/respond.min.js"></script>
<![endif]-->