<extend name="Public:common" />
<block name="body">
<body class="my">
    <div class="container containerSmall" id="my-body">
        <div class="row" style="padding-top: 45px;">
            <nav class="navbar-fixed-top" role="navigation">
                <div class="container-fluid my-fanhui">
                    <div class="my-fanhui-jiantou">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </div>
                    <div class="my-fanhui-text">
                        <span>{$title}</span>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row" style="padding: 5px"></div>
        <div class="row">
            <div class="my-detail">
                <div class="col-xs-12">
                    <span class="my-detail-span glyphicon glyphicon-pencil">描述:</span>
                    <div>
                        <p class="my-detail-p">
                            {$des}
                        </p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <span class="my-detail-span glyphicon glyphicon-align-justify">详情:</span>
                    <div class="my-detail-html">{$html}</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('.my-fanhui').click(function(){
                window.location.href="{:U('Home/Content/lists',array('type'=>$type))}";
            });
        });
    </script>
</body>
</block>