<extend name="Public:common" />
<block name="body">
<body class="my">
    <div class="container containerSmall" id="my-body">
        <div class="row" style="padding-top: 45px;">
            <nav class="navbar-fixed-top" role="navigation">
                <div class="container-fluid my-fanhui">
                    <div class="my-fanhui-jiantou">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </div>
                    <div class="my-fanhui-text">
                        <span>列表</span>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row" style="padding: 5px"></div>
        <div class="row">
            <div class="my-pic-list">
                <volist name="_list" id="vo">
                    <div class="col-xs-6">
                        <div class="my-pic-list-content" data-id="{$vo['id']}">
                            <div>
                                <img src="{$vo['pic']}" onerror="javascript:this.src='__PUBLIC__/images/wu.gif';">
                            </div>
                            <div class="my-pic-list-content-time">
                                <span>{:date('Y-m-d',$vo['create_time'])}</span>&nbsp;&nbsp;
                            </div>
                            <div class="my-pic-list-content-p">
                                <p>{:goods_msubstr($vo['des'],25)}</p>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('.my-pic-list-content').click(function(){
                window.location.href="{:U('Home/Content/detail')}"+"?id="+$(this).attr('data-id');
            });
            $('.my-fanhui').click(function(){
                window.location.href="{:U('Home/Content/index')}";
            });
        });
    </script>
</body>
</block>